header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.boxes {
    display: flex;
    justify-content: center;
}

.general-banker {
    width: 150px;
    
}

.Banker {
    
    display: inline-block;
    width: 150px;
    border: 2.5px solid black;
    padding: 25px;
}
.general-worker {
    width: 150px;
    padding-left: 100px;
}
.Worker {
    
    display: inline-block;
    width: 150px;
    border: 2.5px solid black;
    padding: 25px;
}
.computer-box {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.general-computer {
    width: 500px;
}
.general-computer h2 {
    text-align: center;
    padding-left: 40px;
}
.computer {
    
    width: 500px;
    border: 2.5px solid black;
    padding: 25px;
    
}
.general-computer-info {
    
    width: 150px;
    padding-left: 100px;
}
.computer-info {
    display: inline-block;
    width: 150px;
    border: 2.5px solid black;
    padding: 50px;
}

#loanButton {
    background-color: chartreuse;
}
#depositeButton {
    background-color: gold;
}
#workButton {
    background-color: red;
}
#form1 {
    display: flex;
    justify-content: left;
}
#buyId {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}